[Unit]
Description=Fleetd Daemon

Requires=network-online.target

Wants=fleet.socket
After=fleet.socket


[Service]
User=nobody
Group=nobody

# applies user and group to ExecStart command only
PermissionsStartOnly=true

Environment=GOMAXPROCS=2
Environment=FLEET_ETCD_SERVERS=http://etcd.service.consul:2379

Restart=always

ExecStartPre=/usr/bin/mkdir -p /run/fleet
ExecStartPre=/usr/bin/chown nobody:nobody /run/fleet
ExecStartPre=/usr/bin/chmod 700 /run/fleet

ExecStart=/usr/bin/fleetd


[Install]
WantedBy=multi-user.target
