[Unit]
Description=Fleetd Daemon

Requires=network-online.target

Wants=fleet.socket
After=fleet.socket


[Service]
User=fleet
Group=fleet

# applies user and group to ExecStart command only
PermissionsStartOnly=true

EnvironmentFile=/etc/environment

Environment=GOMAXPROCS=2

Restart=always

ExecStartPre=/usr/bin/mkdir -p /run/fleet
ExecStartPre=/usr/bin/chown fleet:fleet /run/fleet
ExecStartPre=/usr/bin/chmod 700 /run/fleet

ExecStart=/usr/bin/fleetd


[Install]
WantedBy=multi-user.target
