[Unit]
Description=Generate Environment files
After=systemd-resolved.service systemd-networkd-wait-online.service network-target.online
Requires=systemd-resolved.service systemd-networkd-wait-online.service network-target.online

[Service]
Type=oneshot
RemainAfterExit=true
#Restart=on-failure
#RestartSec=5

ExecStart=/usr/local/bin/environment.py

[Install]
WantedBy=multi-user.target
