[Unit]
Description=The plugin-driven server agent for reporting metrics into InfluxDB
Documentation=https://github.com/influxdata/telegraf
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/influxdb-telegraf
User=telegraf
Group=telegraf
ExecStart=/usr/bin/telegraf -config /etc/influxdb-telegraf/influxdb-telegraf.conf -config-directory /etc/influxdb-telegraf/telegraf.d ${TELEGRAF_OPTS}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
