[Unit]
Description=Consul Server
After=environment.service
Requires=environment.service

[Service]
PermissionsStartOnly=true
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/environment.network
Environment=GOMAXPROCS=4
PIDFile=/etc/consul/consul.pid
Restart=always

User=consul
Group=consul

ExecStartPre=/usr/bin/touch /etc/consul/consul.pid
ExecStartPre=/usr/bin/chown consul:consul /etc/consul/consul.pid

ExecStart=/usr/bin/consul agent -pid-file /etc/consul/consul.pid -config-dir /etc/consul/consul.d/%i -client ${HOST_IP} -dc ${REGION}

ExecReload=/usr/bin/kill -HUP $MAINPID

KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
